:root {
    --margin: auto;
}

.main {
    --main_backgroung: #1C1C1C;
    --main_padding: 80px 80px 16px 80px;
    --main_width: 1440px;
}

.main {
    background: var(--main_backgroung);
    box-sizing: border-box;
    padding: var(--main_padding);
    margin: var(--margin);
    width: var(--main_width);
}

.footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.4);
    width: 144px;
    margin: var(--margin);
}

.search_input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    background: #1C1C1C;
    border: none;
    width: 446px;
    height: 36px;
    margin-left: 20px;
}

.border_bottom {
    height: 2px;
    background: #FFFFFF;
}

.search_row {
    width: 628px;
    margin: var(--margin);
}

.row {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.border_buttom {
    height: 2px;
    background: #FFFFFF;
}

.logo {
    width: 148px;
    margin: var(--margin);
    margin-bottom: 70px;
}

.search_no_result {
    height: 500px;
}

.search_active {}
