:root {
    --margin: auto;
    --main_backgroung: #1C1C1C;
}

.body {
    background: var(--main_backgroung);
}

.main {
    --main_padding: 80px 80px 16px 80px;
    --main_width: 1440px;
}

.main {
    background: var(--main_backgroung);
    box-sizing: border-box;
    padding: var(--main_padding);
    margin: var(--margin);
    width: var(--main_width);
}

.footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.4);
    width: 144px;
    margin: var(--margin);
    margin-top: 80px;
}

.search_block_input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    background: var(--main_backgroung);
    border: none;
    width: 446px;
    height: 36px;
    margin-left: 14px;
    color: white;
}

.search_block_row {
    width: 628px;
    margin: var(--margin);
    display: flex;
    flex-flow: wrap;
    border-bottom: 2px solid #FFFFFF;
}

.search_block_row {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 148px;
    margin: var(--margin);
    margin-bottom: 70px;
}

.search_no_result {
    width: 604px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}



.search_history_item {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 36px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.search_history_item:hover {
    background: #FFFFFF;
}

.search_hitory_active_short {
    display: flex;
    margin-bottom: 100px;
    margin-top: 24px;
}

.search_block_row_active {
    width: 1280px;
    justify-content: space-between;
    border-bottom: 2px solid #FDCE25;
}

.search_hitory_active_more_histry {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    
}

.search_result_item {
    width: 302px;
    height: 454px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search_result_item:hover .film_description_loaded {
    display: flex;
}

.search_result_heading {
    width: 1280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-align: start;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.search_result {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.search_block_input_active {
    width: 1150px;
}

.cross {
    padding-left: 35px;
}

.film_name_empty {
    width: 246px;
    height: 24px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 330px;
}

.film_description_empty {
    width: 156px;
    height: 24px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    margin-left: 20px;
}

.film_description {
    color: rgba(255, 255, 255, 0.24);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
}

.film_name {
    width: 285px;
    height: 50px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    align-items: center;

}

.film_name_unloaded {
    width: 262px;
    height: 36px;
    font-size: 24px;
}

.genre {
    width: 210px;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    align-items: center;
}

.genre_unloaded {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
}

.year {
    width: 48px;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    align-items: center;
}

.year_unloaded {
    width: 50px;
    font-size: 16px;
    line-height: 24px;
}

.film_description_loaded {
    color: grey;
    box-sizing: border-box;
    display: none;
}

.rating {
    font-size: 25px;
    margin-bottom: 2px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.rating_img {
    margin-right: 5px;
}

.container {
    margin-bottom: 80px;
    
}

.search_active_more_history {
    display: none;
}

.search_active_block {
    display: none;
}

.search_result_item_invisible {
    opacity: 0;
}

.search_block_scroll {
    position: fixed;
    top: 0;
    opacity: 0.5;
    background: rgba(28, 28, 28, 0.8);
    margin-left: -80px;
    border-bottom: 2px solid white;
}

.search_block_row_scroll {
    width: 1440px;
    height: 62px;
}

.search_block_border_bottom_scroll {
    width: 1440px;
    padding: 0;
}

.search_block_input_scroll {
    width: 1162px;
    background: none;
}

.cross_path {
    stroke-opacity: 0.4;
}

.cross:hover .cross_path {
    stroke-opacity: 1;
}

.scroll_block {
    display: none;
}

.search_not_found_block {
    display: none;
}

.search_active .search {
    display: none;
}

.search {
    min-height: calc(100vh - 14px);
}

.search_active .search_active_block {
    display: flex;
    flex-flow: wrap;
}

.search_live_block {
    display: none;
}

.search_not_found .search_not_found_block {
    display: block;
}

.search_live .search_live_block {
    display: flex;
}

.search_more_history .search_active_more_history {
    display: flex;
}

.search_more_history .search_hitory_active_short {
    display: none;
}

.scroll .scroll_block {
    display: flex;
}

.scroll .search_active_block {
    display: none;
}

.scroll .search_active_more_history {
    display: none;
}
