:root {
    --margin: auto;
    --main_backgroung: #1C1C1C;
    --font_family: Roboto;
    --font_style: normal;
}

.body {
    background: var(--main_backgroung);
}

.main {
    --main_padding: 80px 80px 16px 80px;
    --main_width: 1440px;
}

.main {
    background: var(--main_backgroung);
    box-sizing: border-box;
    padding: var(--main_padding);
    margin: var(--margin);
    width: var(--main_width);
    font-family: var(--font_family);
    font-style: var(--font_style);
}

.footer {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.4);
    width: 144px;
    margin: var(--margin);
    margin-top: 80px;
}

.logo {
    width: 148px;
    height: 28px;
    margin: 80px auto 0;
}

.search_block_input {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    background: var(--main_backgroung);
    border: none;
    width: 446px;
    height: 36px;
    margin-left: 14px;
    color: white;
}

.search_block_row {
    width: 628px;
    margin: var(--margin);
    display: flex;
    flex-flow: wrap;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
}

.logo {
    width: 148px;
    margin: var(--margin);
    margin-bottom: 70px;
}

.search_no_result {
    width: 604px;
    height: 48px;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.search_history_item {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 36px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.search_history_item:hover {
    background: #FFFFFF;
}

.search_history_active_short {
    display: flex;
    margin-top: 24px;
}

.search_block_row_active {
    width: 1280px;
    justify-content: space-between;
    border-bottom: 2px solid #FDCE25;
}

.search_history_active_more_history {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.search_result_heading {
    width: 1280px;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-align: start;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 100px;
}

.search_result_grid {
    min-height: 349px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.search_block_input_active {
    width: 1150px;
}

.cross {
    padding-left: 35px;
}


.search_active_more_history {
    display: none;
}

.search_block_border_bottom_scroll {
    width: 1440px;
    padding: 0;
}

.cross_path {
    stroke-opacity: 0.4;
}

.cross:hover .cross_path {
    stroke-opacity: 1;
}

.search {
    min-height: calc(100vh - 14px);
}

.search_active .search_active_block {
    display: flex;
    flex-flow: wrap;
}

.search_not_found .search_not_found_block {
    display: block;
    width: 604px;
    height: 48px;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 92px;
}
